<section class="todo m-5">
    <div class="container">
      <div class="row d-flex">
          <h1 class="todo-title text-center pt-5 pb-5">{{ "todo" | titlecase }}
              <div class="line"></div>
              <!-- <h1>{{ today | date }}</h1>
              <h1>{{ today | date:'EEEE' }}</h1>
              <h1>{{ 3.14 | number:'1.0-0' }}</h1>
              <h1>{{ today | date:'d' }}</h1>
              <h1>{{ today | date:'MMM' }}</h1>
              <h1>{{ today | date:'y' }}</h1>
              <h1>{{ 0.5 | percent }}</h1>
              <h1>{{ 0.25 | currency }}</h1>
              <h1>{{ 0.25 | currency:'IDR' }}</h1> -->
              <h4>
                <i class="bi bi-calendar-date"></i>
                {{ today | dateCustom:'eeee, dd MMMM yyyy':locale }}
              </h4>
          </h1>
        <div class="col-lg-6 col-12">
            <h2>List</h2>
          <app-todo-list [todos]="todos" (toggleTodo)="onToggleTodo()" (deleteTodo)="onDeletedTodo($event)" (editTodo)="onEditTodo($event)"></app-todo-list>
        </div>
        <div class="col-lg-6 col-12">
            <h2>Form</h2>
          <app-todo-form [(todo)]="todo"></app-todo-form>
        </div>
      </div>
    </div>
  </section>
  