<div class="education">
    <h1>EDUCATION</h1>
    <hr align="center">
    <table>
        <thead>
            <tr>
                <th>Academy</th>
                <th>GPA Score</th>
                <th>Degree</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Universitas Gadjah Mada</td>
                <td>3.58</td>
                <td>Bachelor of Applied Science</td>
            </tr>
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Major</th>
                <th>Graduated at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Management and Maintenance of Heavy Equipment Engineering</td>
                <td>2021</td>
            </tr>
        </tbody>
    </table>
  </div>