<div class="education">
    <h1>PORTOFOLIO</h1>
    <hr align="center">
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Dowa Reseller Landing Page</td>
                <td>Edit and improve the landing page of Dowa Reseller Web</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Started at</th>
                <th>Ended at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>11 April 2022</td>
                <td>14 May 2022</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Social Media Design for @cafune.cloth</td>
                <td>Photo product and make graphic design, but it's not posted yet in their instagram</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Started at</th>
                <th>Ended at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>28 December 2021</td>
                <td>28 January 2021</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bamboo Planer Machinary</td>
                <td>Made machine to easily UMKM in Godean, Sleman</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Started at</th>
                <th>Ended at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>July 2020</td>
                <td>March 2021</td>
            </tr>
        </tbody>
    </table>
    <hr>
</div>