<!-- <app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer> -->

<!-- <div class="container mt-5">
    <h3>{{ message }}</h3>
    <h3>{{ getMessage() }}</h3>
    <h3>{{ 4 + 5 }}</h3>
    <h3>{{ people }}</h3>
    <h3>{{ getPeople() }}</h3>
    <h3>{{ employee }}</h3>
    <h3>{{ name = 'daud' }}</h3>
    <h3>{{ new Date() }}</h3>
    <h3>{{ typeof message }}</h3>

    <ul>
        <li *ngFor="let person of people">{{ person }}</li>
    </ul>

    <ul>
        <li *ngFor="let employee of employees">{{ employee.name }}</li>
    </ul>

    Property Binding
    <img [src]=image.src [alt]="image.alt">

    <h4 [innerHTML]="fullName" [style.color]="color" [style.font-size]="fontSize" [style.font-weight]="fontWeight"></h4>

    <h4 [innerHTML]="fullName" [ngStyle]="styles"></h4>

    <button class="btn btn-primary" [disabled]="!isDisabled">Click Me</button>

    <button class="btn btn-primary" (click)="onClickButton()">Change Text</button>

    <h5 class="mt-5">{{ message }}</h5>

    <input type="text" class="form-control my-5" (input)="onKeyPress($event)"/>

    Share Data from componen 
</div> -->
<app-component-a></app-component-a>
<router-outlet></router-outlet>