  <div class="education">
    <h1>EXPERIENCES</h1>
    <hr align="center">
    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Job Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>PT Dowa Hanandy Utama</td>
                <td>
                    <ul>
                        <li>- Photo for product</li>
                        <li>- Documenting place or event</li>
                        <li>- Edit photo and video</li>
                        <li>- Make and edit graphic design</li>
                        <li>- Maintenance computer</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Started at</th>
                <th>Ended at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Staff Media Online</td>
                <td>4 April 2022</td>
                <td>30 June 2022</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Job Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lembaga Kerjasama Fakultas Teknik (LKFT) UGM</td>
                <td>Digitizing of pipe layouts using based on existing drawings</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Started at</th>
                <th>Ended at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Freelance Pipeline Drafter</td>
                <td>1 July 2021</td>
                <td>30 September 2021</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <table>
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Job Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sekolah Vokasi UGM</td>
                <td><ul>
                    <li>- Making poster and videos</li>
                    <li>- Compiling booklet for Sekolah Vokasi UGM</li>
                    <li>- Respond question on social media</li>
                </ul></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Job Name</th>
                <th>Started at</th>
                <th>Ended at</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Part-time Humas Penerimaan Mahasiswa Baru</td>
                <td>8 March 2021</td>
                <td>30 September 2021</td>
            </tr>
        </tbody>
    </table>
  </div>