<div class="row-porto">
  <div class="col-7">
    <h1>RESUME</h1>
    <div class="education">
      <h1>EDUCATION</h1>
      <hr align="center">
      <table>
          <thead>
              <tr>
                  <th>Academy</th>
                  <th>GPA Score</th>
                  <th>Degree</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Universitas Gadjah Mada</td>
                  <td>3.58</td>
                  <td>Bachelor of Applied Science</td>
              </tr>
          </tbody>
      </table>

      <table>
          <thead>
              <tr>
                  <th>Major</th>
                  <th>Graduated at</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Management and Maintenance of Heavy Equipment Engineering</td>
                  <td>2021</td>
              </tr>
          </tbody>
      </table>
    </div>

    <div class="education">
      <h1>SKILL HIGHLIGHTS</h1>
      <hr align="center">
      <table>
          <tbody>
              <tr>
                  <td>HTML</td>
                  <td>JavaScript</td>
                  <td>NodeJS & ExpressJS</td>
              </tr>
              <tr>
                  <td>CSS</td>
                  <td>SQL Database</td>
                  <td>Graphic & Mechanical Design</td>
              </tr>
          </tbody>
      </table>
    </div>

    <div class="education">
      <h1>EXPERIENCES</h1>
      <hr align="center">
      <table>
          <thead>
              <tr>
                  <th>Company Name</th>
                  <th>Job Description</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>PT Dowa Hanandy Utama</td>
                  <td>
                      <ul>
                          <li>- Photo for product</li>
                          <li>- Documenting place or event</li>
                          <li>- Edit photo and video</li>
                          <li>- Make and edit graphic design</li>
                          <li>- Maintenance computer</li>
                      </ul>
                  </td>
              </tr>
          </tbody>
      </table>
      <table>
          <thead>
              <tr>
                  <th>Job Name</th>
                  <th>Started at</th>
                  <th>Ended at</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Staff Media Online</td>
                  <td>4 April 2022</td>
                  <td>30 June 2022</td>
              </tr>
          </tbody>
      </table>
      <hr>

      <table>
          <thead>
              <tr>
                  <th>Company Name</th>
                  <th>Job Description</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Lembaga Kerjasama Fakultas Teknik (LKFT) UGM</td>
                  <td>Digitizing of pipe layouts using based on existing drawings</td>
              </tr>
          </tbody>
      </table>
      <table>
          <thead>
              <tr>
                  <th>Job Name</th>
                  <th>Started at</th>
                  <th>Ended at</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Freelance Pipeline Drafter</td>
                  <td>1 July 2021</td>
                  <td>30 September 2021</td>
              </tr>
          </tbody>
      </table>
      <hr>

      <table>
          <thead>
              <tr>
                  <th>Company Name</th>
                  <th>Job Description</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Sekolah Vokasi UGM</td>
                  <td><ul>
                      <li>- Making poster and videos</li>
                      <li>- Compiling booklet for Sekolah Vokasi UGM</li>
                      <li>- Respond question on social media</li>
                  </ul></td>
              </tr>
          </tbody>
      </table>
      <table>
          <thead>
              <tr>
                  <th>Job Name</th>
                  <th>Started at</th>
                  <th>Ended at</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Part-time Humas Penerimaan Mahasiswa Baru</td>
                  <td>8 March 2021</td>
                  <td>30 September 2021</td>
              </tr>
          </tbody>
      </table>

      <div class="education">
          <h1>PORTOFOLIO</h1>
          <hr align="center">
          <table>
              <thead>
                  <tr>
                      <th>Project Name</th>
                      <th>Project Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Dowa Reseller Landing Page</td>
                      <td>Edit and improve the landing page of Dowa Reseller Web</td>
                  </tr>
              </tbody>
          </table>
          <table>
              <thead>
                  <tr>
                      <th>Started at</th>
                      <th>Ended at</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>11 April 2022</td>
                      <td>14 May 2022</td>
                  </tr>
              </tbody>
          </table>
          <hr>

          <table>
              <thead>
                  <tr>
                      <th>Project Name</th>
                      <th>Project Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Social Media Design for @cafune.cloth</td>
                      <td>Photo product and make graphic design, but it's not posted yet in their instagram</td>
                  </tr>
              </tbody>
          </table>
          <table>
              <thead>
                  <tr>
                      <th>Started at</th>
                      <th>Ended at</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>28 December 2021</td>
                      <td>28 January 2021</td>
                  </tr>
              </tbody>
          </table>
          <hr>

          <table>
              <thead>
                  <tr>
                      <th>Project Name</th>
                      <th>Project Description</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Bamboo Planer Machinary</td>
                      <td>Made machine to easily UMKM in Godean, Sleman</td>
                  </tr>
              </tbody>
          </table>
          <table>
              <thead>
                  <tr>
                      <th>Started at</th>
                      <th>Ended at</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>July 2020</td>
                      <td>March 2021</td>
                  </tr>
              </tbody>
          </table>
          <hr>

          <div class="education">
              <h1>SPECIALIZATION</h1>
              <p>Backend & Frontend Developer</p>
              </div>
      </div>
    </div>
  </div>
  <div class="col-3">
      <h1>PROFILE</h1>
      <img src="https://i.postimg.cc/C5dW7Pcq/DSC-0229-edit.jpg">
      <h3>NAME :</h3>
      <p>Fairuz Ikbar Wikantyo</p>

      <h3>PLACE OF BIRTH :</h3>
      <p>Pemalang</p>

      <h3>DATE OF BIRTH :</h3>
      <p>17 October 1997</p>

      <h3>HOBBIES :</h3>
      <ul>
          <li>- Playing music</li>
          <li>- Photography</li>
          <li>- Graphic Design</li>
      </ul>

      <h3>LANGUAGES :</h3>
      <ul>
          <li>- Indonesia</li>
          <li>- English</li>
      </ul>
      <br>
      <div class="col-3-icon">
          <a href="mailto:fairuz.ikbar.w@gmail.com"><button class="btn"><i class="fa fa-envelope"></i></button></a>
          <a href="tel:+6281325554919"><button class="btn"><i class="fa fa-phone"></i></button></a>
          <a href="http://linkedin.com/in/fairuzikbar" target="_blank"><button class="btn"><i class="fa fa-globe"></i></button></a>
          <a href="http://behance.net/fairuzikbar" target="_blank"><button class="btn"><i class="fa-brands fa-behance"></i></button></a>
  </div>
  </div>


<router-outlet></router-outlet>