<div class="card">
    <div class="card-body">
        <form>
            <div class="input-group mb-3">
              <div class="input-group-text">
                <input type="checkbox" class="form-check-input">
              </div>
              <input
                type="text"
                class="form-control"
                placeholder="todo-list"
                aria-label="todo-list"
                aria-describedby="basic-addon1"
              />
              <button class="btn btn-outline-primary" type="submit">ADD</button>
            </div>
        </form>
    </div>
</div>