<h1>Component A</h1>
<a routerLink="/component-b" class="btn btn-outline-primary">Go to Component B</a>
<div class="row">
    <div class="col-md-6">
        <div class="list-group mt-5">
            <a routerLink="child-a" class="list-group-item list-group-item-action">Child A</a>
            <a routerLink="child-b" class="list-group-item list-group-item-action">Child B</a>
        </div>
    </div>
</div>

<app-child-a>
    Child AA
    <ng-container punyaTagP>Child dari Tag P</ng-container>
    <ng-container span>Child dari span</ng-container>
</app-child-a>

<h2>{{counter}}</h2>
<app-child-a [image]="image" (result)="setCounter($event)"></app-child-a>
