<div class="container" style=" min-height: 100vh;">
<div class="text-center" style="margin-top: 150px;">
  <h1>BOOKING FORM</h1>
</div>
<form class="row g-3" [formGroup]="bookingGroup" (ngSubmit)="onSubmitReservation()">
  <div class="col-md-6">
    <label class="form-label">Nama Tamu</label>
    <input type="text" class="form-control" formControlName="{{field.NAMA_TAMU}}" [readonly]="bookingGroup.value.id">
  </div>
  <div class="col-md-3">
    <label class="form-label">Email Tamu</label>
    <input type="email" class="form-control" formControlName="{{field.EMAIL_TAMU}}"  [readonly]="bookingGroup.value.id">
  </div>
  <div class="col-md-3">
    <label class="form-label">Phone Number</label>
    <input type="text" class="form-control"  placeholder="+62..." formControlName="{{field.NO_TELP_TAMU}}"  [readonly]="bookingGroup.value.id">
  </div>
  <div class="col-md-4">
    <label class="form-label">No Kamar</label>
    <input type="text" class="form-control" formControlName="{{field.NO_KAMAR}}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Lama Menginap</label>
    <input type="text" class="form-control" formControlName="{{field.LAMA_INAP}}">
  </div>
  <div class="col-md-4">
    <label class="form-label">Jumlah Tamu</label>
    <input type="text" class="form-control" formControlName="{{field.JUMLAH_TAMU}}"  [readonly]="bookingGroup.value.id">
  </div>
  <div class="col-12 text-center">
    <button type="submit" class="btn btn-danger" style="width:180px;">Sumbit</button>
  </div>
</form>
</div>